<input type="text" style="margin: 20px;" [(ngModel)]="search" (input)="change(search)" >
<button (click)="searchProduct(search)">Search</button>
<p>{{search}}</p>

<!-- <div class="product-grid" *ngIf="filterd.length>0">
    <div *ngFor="let product of filterd" class="product-card" >
        <img src="{{product.image}}" alt="">
        <p class="name">{{product.title}}</p>
        <p class="price">Price: {{product.price}}</p>
        <button *ngIf="pdetails">Details</button><br><br>
        <button  (click)="addToCart(product.id)" [ngStyle]="pdetails?{background:'green',color:'white'}:{background:'yellow',prcolor:'white'}">Add to Cart</button>
    </div>
</div>


<div class="product-grid" *ngIf="filterd.length==0">
    <div *ngFor="let product of products" class="product-card">
        <img src="{{product.image}}" alt="">
        <p class="name">{{product.title}}</p>
        <p class="price">Price: {{product.price}}</p>
        <button *ngIf="pdetails">Details</button><br><br>
        <button  (click)="addToCart(product.id)" [ngStyle]="pdetails?{background:'green',color:'white'}:{background:'red',color:'white'}">Add to Cart</button>
    </div>
</div> -->



<app-product-card [products]="products"></app-product-card>

<button *ngIf="pdetails" routerLink="/addproduct" >Add Products</button>
